
<div id="templatemo_banner_wrapper">

    <div id="templatemo_banner">

        <h2>FREE CSS TEMPLATES<span>In turpis nunc, consectetur ut porta id, semper vitae justo. Nulla facilisi. Curabitur et eros sapien, ut feugiat lectus</span></h2>
        <p>Praesent malesuada, risus vel posuere laoreet, lacus lorem imperdiet tortor, id semper nunc orci ac turpis. Donec fermentum ullamcorper justo a vehicula. Curabitur rhoncus lobortis mauris, vitae varius nisl scelerisque ut. Praesent luctus magna quis risus dapibus rutrum.</p>

    </div> <!-- end of templatemo_banner -->

</div> <!-- end of templatemo_banner_wrapper -->