{% extends 'base.html.twig' %}

{% block body %}
    <div id="templatemo_banner_wrapper">

        <div id="templatemo_banner">

            <h2>FREE CSS TEMPLATES<span>In turpis nunc, consectetur ut porta id, semper vitae justo. Nulla facilisi. Curabitur et eros sapien, ut feugiat lectus</span></h2>
            <p>Praesent malesuada, risus vel posuere laoreet, lacus lorem imperdiet tortor, id semper nunc orci ac turpis. Donec fermentum ullamcorper justo a vehicula. Curabitur rhoncus lobortis mauris, vitae varius nisl scelerisque ut. Praesent luctus magna quis risus dapibus rutrum.</p>

        </div> <!-- end of templatemo_banner -->

    </div> <!-- end of templatemo_banner_wrapper -->

    <div id="templatemo_menu_wrapper">

        <div id="templatemo_menu">

            <ul>
                <li><a href="index.html" class="current"><span class="home">Home</span></a></li>
                <li><a href="#"><span class="aboutus">About</span></a></li>
                <li><a href="#"><span class="services">Services</span></a></li>
                <li><a href="#"><span class="news">News</span></a></li>
                <li><a href="#"><span class="gallery">Gallery</span></a></li>
                <li><a href="#"><span class="contact">Contact</span></a></li>
            </ul>

        </div> <!-- end of templatemo_menu -->
    </div> <!-- end of templatemo_menu_wrapper -->

    <div id="templatemo_content_wrapper">

        <div id="templatemo_content">

            <div class="content_section">

                <h2>Welcome to General Template</h2>

                <div class="service_box float_l">

                    <div class="service_image">
                        {% image '@AppBundle/Resources/public/images/gmail.png' %}

                        <a href="http://www.templatemo.com/page/1" target="_parent"><img src="{{ asset_url }}" alt="image 1" width="150" height="150" /></a> </div>
                        {% endimage %}
                    <div class="service_text">
                        <h3>Left Column</h3>
                        <p>Nam convallis est ut lacus ullamcorper vitae scelerisque enim lobortis. Nam eu mi sed erat fringilla. Nam ut ipsum nec magna facilisis auctor ut <a href="#">porttitor</a> enim. </p>
                        <div class="button_01"><a href="#">Read</a></div>
                    </div>

                </div>

                <div class="service_box float_r">

                    <div class="service_image">
                        {% image '@AppBundle/Resources/public/images/templatemo_image_02.jpg' %}

                        <a href="http://www.templatemo.com/page/2" target="_parent"><img src="{{ asset_url }}" alt="image 2" width="150" height="150" /></a> </div>
                        {% endimage %}
                    <div class="service_text">
                        <h3>Right Column</h3>
                        <p>Nunc sed pharetra dui. Donec malesuada rutrum imperdiet. Etiam nec risus sit amet diam malesuada dictum non vitae est. Vivamus ac odio eros. lacus <a href="#">ullamcorper</a> vitae scelerisque enim lobortis.</p>
                        <div class="button_01"><a href="#">Read</a></div>
                    </div>

                </div>

                <div class="cleaner"></div>
            </div>

            <div class="content_section">

                <div class="section_410 float_l">

                    <h2>What We Do</h2>
                    <p align="justify">This free template is provided by <a href="http://www.templatemo.com" target="_parent">TemplateMo.com</a> for everyone. You may download, edit and apply this template for your websites. Credit goes to <a href="http://webtoolkit4.me/2009/03/17/polaroid-icon-set/" target="_blank">WT4</a> and <a href="
http://www.webappers.com/2008/02/12/webappers-released-free-web-application-icons-set/" target="_blank">WebAppers</a> for icons used in this template.</p>
                    <p align="justify">Aenean auctor, mi eu consectetur pulvinar, lorem orci feugiat felis, <strong>sit a	met molestie</strong> nulla erat non ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec volutpat imperdiet rutrum. <a href="#">Donec orci ante</a>, porta at pretium a, ultricies at ligula. Nunc a felis lacus, dapibus luctus lacus.</p>
                </div>

                <div class="section_410 float_r">

                    <h2>Featured Section</h2>

                    <div class="news_box">
                        {% image '@AppBundle/Resources/public/images/templatemo_image_03.jpg' %}

                        <a href="http://www.templatemo.com/page/3" target="_parent">
                            <img src="{{ asset_url }}" alt="image 3" width="80" height="80" class="news_image" /></a>
                        {% endimage %}
                        <h3><a href="#">Praesent pretium diam quam</a></h3>
                        <p align="justify">Praesent malesuada, risus vel posuere laoreet, lacus lorem imperdiet tortor, id semper nunc orci ac turpis. Donec fermentum <a href="#">ullamcorper</a> justo a vehicula. Curabitur rhoncus lobortis mauris.</p>
                    </div>

                    <div class="cleaner_h20"></div>
                    <div class="button_01"><a href="#">View All</a></div>

                </div>

                <div class="cleaner"></div>
            </div>

        </div> <!-- end of templatemo_content -->
    </div> <!-- end of templatemo_content_wrapper -->

    {% include 'default/footer.html.twig' %}
    </div>
{% endblock %}
