<div id="templatemo_menu_wrapper">

    <div id="templatemo_menu">

        <ul>
            <li><a href="index.html" class="current"><span class="home">Home</span></a></li>
            <li><a href="#"><span class="aboutus">About</span></a></li>
            <li><a href="#"><span class="services">Services</span></a></li>
            <li><a href="#"><span class="news">News</span></a></li>
            <li><a href="#"><span class="gallery">Gallery</span></a></li>
            <li><a href="#"><span class="contact">Contact</span></a></li>
        </ul>

    </div> <!-- end of templatemo_menu -->
</div> <!-- end of templatemo_menu_wrapper -->