
        <div class="service_image">
            <a href="http://www.templatemo.com/page/1" target="_parent"><img src="images/templatemo_image_01.jpg" alt="image 1" width="150" height="150"></a> </div>
        <div class="service_text">
            <h3>Left Column</h3>
            <p>Nam convallis est ut lacus ullamcorper vitae scelerisque enim lobortis. Nam eu mi sed erat fringilla. Nam ut ipsum nec magna facilisis auctor ut <a href="#">porttitor</a> enim. </p>
            <div class="button_01"><a href="#">Read</a></div>
        </div>
